<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>質問共有</title>
    <script type="text/javascript">
      $(function() {
          // 大学が選択されたら発動
          $('select[name="university"]').change(function() {
              // 選択されている大学のクラス名を取得
              var unvName = $('select[name="university"] option:selected').attr("class");
              console.log(unvName);
              // 学部の要素数を取得
              var count = $('select[name="department"]').children().length;
              // 学部の要素数分、for文で回す
              for (var i=0; i< count; i++) {
                  console.log("department");
                  var unv = $('select[name="department"] option:eq(' + i + ')');
                  if(unv.attr("class") === unvName) {
                      // 選択した大学と同じクラス名だった場合
                      unv.show();
                  }else {
                      // 選択した大学とクラス名が違った場合
                      unv.hide();
                  }
              }
          })
      })
      $(function() {
          $('select[name="department"]').change(function() {
              var derName = $('select[name="department"] option:selected').attr("id");
              console.log(derName);
              var counts = $('select[name="major"]').children().length;
              for (var i=0; i< counts; i++) {
                  console.log("major");
                  var dper = $('select[name="major"] option:eq(' + i + ')');
                  if(dper.attr("class") === derName) {
                      dper.show();
                  }else {
                      dper.hide();
                  }
              }
          })
      })

      $(function() {
          $('select[name="univ"]').change(function() {
              var unvName = $('select[name="univ"] option:selected').attr("class");
              console.log(unvName);
              var count = $('select[name="depa"]').children().length;
              for (var i=0; i< count; i++) {
                  console.log("department");
                  var unv = $('select[name="depa"] option:eq(' + i + ')');
                  if(unv.attr("class") === unvName) {
                      unv.show();
                  }else {
                      unv.hide();
                  }
              }
          })
      })
      $(function() {
          $('select[name="depa"]').change(function() {
              var derName = $('select[name="depa"] option:selected').attr("id");
              console.log(derName);
              var counts = $('select[name="majo"]').children().length;
              for (var i=0; i< counts; i++) {
                  console.log("major");
                  var dper = $('select[name="majo"] option:eq(' + i + ')');
                  if(dper.attr("class") === derName) {
                      dper.show();
                  }else {
                      dper.hide();
                  }
              }
          })
      })
  </script>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/application.css">
  </head>
  <body>
  <div class="page">

    <header class="header">
      <h1 class="title">カコモン共有</h1>
    </header>

    <div class="main">

      <div class="file_up">
        <h2>過去問をアップロードする</h2>
        <% @upload = UploadFile.new %>
        <%= form_for @upload, :url => {:action => :upload} do |f| %>
          <h3>「大学 / 学部 / 学科 / 学年」を選択</h3>
          <select name="university">
            <%= @schools.each do |s| %>
              <option value="<%= s.university %>" class="<%= s.university %>" > <%= s.university %>
              </option>
            <% end %>
          </select>

          <select name="department">
            <%= @departments.each do |d| %>
              <option value="<%= d.department %>" class="<%= d.university %>" id="<%= d.department %>" > <%= d.department %>
              </option>
            <% end %>
          </select>

          <select name="major">
            <%= @majors.each do |m| %>
              <option value="<%= m.major %>" class="<%= m.department  %>" > <%= m.major %>
              </option>
            <% end %>
          </select>

          <select name="year">
            <option value= "1年">1年</option>
            <option value= "2年">2年</option>
            <option value= "3年">3年</option>
            <option value= "4年">4年</option>
          </select>
          <br>
          <h3><%= f.label :name, "講義名"  %>　<%= f.text_field :name %></h3>
          <h3><%= f.label :name, "ファイルを選択" %>　<%= f.file_field :file %></h3>
          <%= f.submit "送信" %>
        <% end %>
      </div>

      <div class="file_search">
        <h2>過去問を検索する</h2>
        <form action="/main/each_univ" method="get">
          <select name="univ">
          <%= @schools.each do |s| %>
            <option value="<%= s.university %>" class="<%= s.university %>" > <%= s.university %>
            </option>
          <% end %>
          </select>
          <select name="depa">
            <%= @departments.each do |d| %>
              <option value="<%= d.department %>" class="<%= d.university %>" id="<%= d.department %>" > <%= d.department %>
              </option>
            <% end %>
          </select>
          <select name="majo">
            <%= @majors.each do |m| %>
              <option value="<%= m.major %>" class="<%= m.department %>" > <%= m.major %>
              </option>
            <% end %>
          </select>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
            <input type="submit" value="検索">
         </form>
      </div>

      <div class="file_new_tw">

        <div class="tw">
          <h2>Twitter</h2>
          <a class="twitter-timeline" href="https://twitter.com/shippu242" data-width="500" data-height="500" data-chrome="noheader nofooter">Tweets by shippu242</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="file_new">
          <h2>新着順</h2>
          <ul>
            <% @contents.each do |c| %>
                <li><%= link_to(c.university + "　" + c.department + "　" + c.major + "　" + c.lesson + "　" + c.year.to_s + "年", action: "download", id: c.id) %></li>
            <% end %>
          </ul>
        </div>

      </div>

    </div>
    </div>
  </body>

</html>
