<head>
  <title>質問共有</title>

</head>
<h1>過去問共有</h1>

<% @upload = UploadFile.new %>
<%= form_for @upload, :url => {:action => :upload} do |f| %>


    <select name="a">
      <%= @schools.each do |school| %>
        <option value="<% school.university %>"> <%= school.university %>
        </option>
      <% end %>
    </select>

    <%= f.label :name, "name" %>
    <%= f.text_field :name %>
    <%= f.label :file %>
    <%= f.file_field :file %>
    <%= f.submit "Upload" %>
<% end %>

<h2>新着一覧</h2>
<form action="/main/each_univ" method="get">
  <select name="univ">
  <%= @schools.each do |school| %>
    <option value="<%= school.university %>" > <%= school.university %>
    </option>
  <% end %>
  </select>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <input type="submit" value="学部一覧">
 </form>
